.events {
  h2 {
    font-size: 20px;
    margin: 20px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__empty {
    height: 400px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__loading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
